body {
	font-family: 'Josefin Sans', sans-serif;
	background: url("../images/hoffman.png");
	color: #777;
}

/**Header**/
.jumbotron {
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	background: none;
	height: 100px;
	padding: 0;
}

.jumbotron h1 {
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
}

/**Main Content**/
p {
    cursor: pointer;
}

#credentials {
	margin: 0 0 50px 340px;
	padding: 0;
	background: #fff;
	font-size: 18px;
	text-align: center;
}

.panel-primary,
.panel-default,
.panel-warning {
	min-height: 200px;
	text-align: center;
}

#results {
	font-size: 18px;
}
.col-md-8 {
	padding: 0;
}

#message {
	text-align: center;
	min-height: 180px;
	margin-bottom: 0;
	margin-top: 20px;
}

.panel-heading {
	font-size: 18px;
	color: #fff;
}

#connect {
	width: 100%;
	padding: 10px 30px 0 31px;
}

.social {
	margin-right: 9px;
	width: 31px;
	height: 31px;
}

.github {
	float: left;
	margin-right: 10px;
	margin-left: 2px;
	width: 37px;
	height: 31px;
}

/**Player1 & 2 divs**/
#score {
	margin: 0;
}

#player1-wins,
#player1-losses,
#player2-wins,
#player2-losses,
#ties {
	padding: 0;
}

#wins {
	float: left;
}


@media screen and (max-width: 768px) {

.jumbotron {
	height: 100px;
}

.row {
	margin-bottom: 20px;
}

.panel-primary,
.panel-default,
.panel-warning {
	min-height: 100px;
	text-align: center;
	margin-bottom: 20px;
}

#connect {
	width: 100%;
	padding: 0 30px 0 300px;
}

#message {
	min-height: 100px;
}

}

@media screen and (max-width: 640px) {

.jumbotron {
	height: 100px;
}

.row {
	margin-bottom: 20px;
}

.panel-primary,
.panel-default,
.panel-warning {
	min-height: 100px;
	text-align: center;
	margin-bottom: 20px;
}

#connect {
	width: 100%;
	padding: 0 30px 0 140px;
}

#message {
	min-height: 100px;
}

}